*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  color: white;
  background-color: #395C6B;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ------------------------------------ */
/* Header */
/* ------------------------------------- */

/* ----------------------------------------------------------- */
/* Design index.php */
/* ----------------------------------------------------------- */

.wrapper-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 85px;
    font-weight: 600;
    line-height: 5rem;
    text-decoration: none;
    color: white;
}

/* ------------------------------------ */
/* Content */
/* ------------------------------------- */

.content-site{
    width: 100%;
}

.wrapper-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login, .password{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form{
    margin-top: 20px;
    line-height: 2.5rem;
}
.form.erreur{
    animation: shake-animation 4.72s ease
}


.label-form{
    font-size: 20px;
    font-weight: 500;
}

.item-form{
    width: 400px;
    height: 50px;
    font-size: 20px;
}

.btn-form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.btn{
    width: 250px;
    height: 35px;
    font-size: 20px;
}

@keyframes shake-animation {
    0% { transform:translate(0,0) }
   1.78571% { transform:translate(5px,0) }
   3.57143% { transform:translate(0,0) }
   5.35714% { transform:translate(5px,0) }
   7.14286% { transform:translate(0,0) }
   8.92857% { transform:translate(5px,0) }
   10.71429% { transform:translate(0,0) }
   100% { transform:translate(0,0) }
 }

 /* ------------------------------------------------------ */
 /* Design dashboard.php */
 /* ------------------------------------------------------ */

 .content-dashboard{
    width: 100%;
}

.wrapper-dashboard{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-dashboard{
    margin-top: 10px;
}

.date{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 18px;
}

.liste-dashboard{
    margin-bottom: 30px;
}

.item-liste{
    list-style-type: none;
    font-size: 18px;
}

#imgPreview {
	width: 200px; 
	max-height: 200px;
	display: block;
}

.file{
    font-size: 18px;
}

.section-upload{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-upload{
    width: 100px;
    padding: 5px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.btn_gallery{
    width: 150px;
    padding: 10px 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.text-upload{
    text-decoration: none;
    color: white;
}

.form-deconnection{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
}

.btn-deconection {
    padding: 5px 15px;
}

 /* ------------------------------------------------------ */
 /* Design galery.php */
 /* ------------------------------------------------------ */

.content-galery{
    width: 100%;
}

.wrapper-galery{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-img{
    width: 50%;
    height: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
    overflow:auto;
}
/* on peu cacher la bar de scrool si on veut avec le code ci-dessous */
/* .content-img::-webkit-scrollbar {
    display: none;
} */

.return_dashboard{
    position: absolute;
    bottom: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.imgUpload{
    width: 300px;
    height: auto;
}