*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  color: white;
  background-color: transparent;
}

/* ------------------------------------ */
/* Content */
/* ------------------------------------- */

.content-site{
    width: 100%;
    height: 100vh;
    background-color: #395C6B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper-content h1{
    font-size: 85px;
    font-weight: 600;
    line-height: 5rem;
}

.login, .password{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form{
    margin-top: 20px;
    line-height: 2.5rem;
}

.label-form{
    font-size: 20px;
    font-weight: 500;
}

.item-form{
    width: 400px;
    height: 50px;
    font-size: 20px;
}

.btn-form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.btn{
    width: 250px;
    height: 35px;
    font-size: 20px;
}